<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>
<body>

    <header> 

        <h1 class="title1"> Diseño <span class =title1-1> Multimedia </span></h1>

        <div class="a">

        </div>
            <nav>
                <a href="../index.html">INICIO</a>
                <a href="../templates/nosotros.html" class="colorazul">NOSOTROS</a>
                <a href="../templates/servicios.html">SERVICIOS</a>
                <a href="../templates/contacto.html">CONTACTO</a>
            </nav>

        </div>
        
    </header>

    <section class="container2">

        <h3>Subscribete a nuestro boletin</h3>

        <div class="formulario">
            <input type="email" placeholder="Ingrese el Email...">
        <button>Subscribete</button>    

    </section>

    <section class="sectionpart2">
        <article>
            <h2>Nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus placeat inventore similique assumenda veniam architecto soluta non asperiores incidunt velit quis quas facere, necessitatibus praesentium consectetur libero nostrum aliquam eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ad optio, laboriosam adipisci, error, sit fugiat reiciendis aliquid consequuntur laudantium vel libero provident quod eum possimus eveniet quasi distinctio deserunt? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestias, suscipit nobis quod dolores tempora, nam libero quis eligendi dolor iure odit doloribus corrupti pariatur vel et, facere ipsum autem?  </p>
            <p class="fondotext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque eum neque quasi cum quo saepe eveniet officia aperiam repellat, veniam rem quis eos hic quae, id ducimus ipsum nihil esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum eaque nemo amet voluptatibus animi porro voluptatum, aut repellendus ea corrupti neque unde deleniti harum illum nesciunt voluptate non, ipsam explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam culpa vero eum ipsa amet modi cupiditate quis tempora incidunt corrupti. Minima, cumque aut! Perferendis omnis ratione quibusdam nisi odit fugit!  </p>
            <img src="../assets/891.jpg" alt="">
        </article>
        <aside>
            <div>
                <h3>Que hacemos</h3>
                <p class="textFD">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus hic, minus omnis et nam magni blanditiis vitae cumque suscipit? Ducimus voluptate perferendis consequatur amet, nam sit. Ab, reiciendis voluptates.</p>
            </div>
        </aside>
    </section>

    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2025 - Por: Andres Felipe Ramirez </p>
    </footer>

</body>