<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>
<body>

    <header> 

        <h1 class="title1"> Diseño <span class =title1-1> Multimedia </span></h1>

        <div class="a">

        </div>
            <nav>
                <a href="../index.html">INICIO</a>
                <a href="../templates/nosotros.html">NOSOTROS</a>
                <a href="../templates/servicios.html" class="colorazul">SERVICIOS</a>
                <a href="../templates/contacto.html">CONTACTO</a>
            </nav>

        </div>
        
    </header>

    <section class="container2">

        <h3>Subscribete a nuestro boletin</h3>

        <div class="formulario">
            <input type="email" placeholder="Ingrese el Email...">
        <button>Subscribete</button>    

    </section>
    
    <section class="sectionpart3">
        <article>
            <h3> Servicios </h3>
            <div class="contservi">
                <h4>diseño Web</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, earum repudiandae recusandae voluptates aliquid commodi vel dolor, quibusdam cupiditate, porro doloribus unde. Facilis vero minima hic, minus placeat cupiditate velit.</p>
            </div>
            <div class="contservi">
                <h4> Desarrollo Web </h4>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, commodi rerum vitae quaerat magnam asperiores assumenda possimus nostrum facilis eveniet adipisci dicta ratione magni dignissimos sint esse ex, consequatur accusantium?</p>
            </div>
            <div class="contservi">
                <h4> Hosting Web </h4>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis possimus officia pariatur blanditiis cum amet sit omnis adipisci laboriosam aperiam at molestias, odio delectus itaque voluptatem quisquam nostrum dolorem beatae!</p>
            </div>
        </article>

            <aside>
                <div>
                    <h3>Que hacemos</h3>
                    <p class="texFD">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus hic, minus omnis et nam magni blanditiis vitae cumque suscipit? Ducimus voluptate perferendis consequatur amet, nam sit. Ab, reiciendis voluptates.</p>
                </div>
            </aside> 
    </section>


    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2025 - Por: Andres Felipe Ramirez </p>
    </footer>
    
</body>    